<div class="panel-config cabecera" layout="row" layout-align="center center">
    <div layout-padding style="text-align: left;">
        <div class="miEncabezado">
            <i class="fa fa-envelope-open fa-fw"></i><lang>Boletines Electrónicos</lang>
            <span class="nivelEn">
                <span ng-repeat="u in ubicacion" class="guide-font"><i class="fa fa-angle-right fa-fw"></i>{{u.ub}}</span>
            </span>
        </div>       
    </div>
    <span class="bordeEn"></span>
    <div flex></div>
</div>
<!-- //_FIN_DE_ARCHIVO -->