<div
    style="display: flex; flex-direction: column; align-items: center; vertical-align: middle; justify-content: center; width: 100%; height: 100%; padding: 8px; ">
    <div style="display: flex; flex-direction: column; padding-top: 12px; width: 99%;">
        <!--#region FILTROS-->
        <div style="width: 100%; display: flex; margin-bottom: 18px; border: solid 1px #cbcbcb; border-radius: 4px;">

    <!-- IZQUIERDA: FILTROS -->
    <div style="display: flex; flex: 1;">

        <div
            style="height: 65px; display: flex; justify-content: center; align-items: center; background-color: #cbcbcb;">
            &nbsp;
            <li class="fa fa-filter fa-15x"></li>
            &nbsp;
        </div>

        <div style="padding: 12px; display: flex;">


            <div
                style="display: flex; justify-content: center; align-items: center; padding-left: 6px;">
                <li class="fa fa-fw fa-clock-o fa-15x"></li>
                <input id="fechaDesde" class="form-control" type="text"
                    datepicker-popup="dd/MM/yyyy"
                    is-open="abreFechaDesde"
                    ng-click="abreFechaDesde = !abreFechaDesde"
                    ng-model="fechaDesde"
                    placeholder="Desde"
                    style="width: 120px;"
                    ng-change="aplicarRangoFechas()">
            </div>

            <div 
                style="display: flex; justify-content: center; align-items: center; padding-left: 6px;">
                <input id="fechaHasta" class="form-control" type="text"
                    datepicker-popup="dd/MM/yyyy"
                    is-open="abreFechaHasta"
                    ng-click="abreFechaHasta = !abreFechaHasta"
                    ng-model="fechaHasta"
                    placeholder="Hasta"
                    style="width: 120px;"
                    ng-change="aplicarRangoFechas()">
            </div>

            <div style="display: flex; justify-content: center; align-items: center; padding-left: 12px;">
                <li class="fa fa-fw fa-briefcase fa-15x"></li>
                <select ng-disabled="cargando" id="filtroCartera"
                    class="form-control "
                    ng-model="filtroCartera"
                    ng-options="p.id as p.nombre for p in listas.carteras"
                    ng-change="validarFiltros()"></select>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; padding-left: 12px;">
                <li class="fa fa-fw fa-tags fa-15x"></li>
                <select  ng-disabled="cargando" id="filtroProducto"
                    class="form-control "
                    ng-model="filtroProducto"
                    ng-options="p.id as p.nombre for p in listas.productos"
                    ng-change="validarFiltros()"></select>
            </div>

          
        </div>
    </div>


    <!-- DERECHA: TITULO + BOTONES -->
    <div style="display: flex; align-items: center; padding: 12px;">

        <div style="display: flex; align-items: center;">
            <i class="fa fa-fw fa-refresh fa-15x"
                title="Actualizar datos ahora"
                ng-click="traerParametrizacion()"></i>

            <select title="Actualizar automáticamente"
                id="tiempoAct"
                class="form-control input-sm select-filtro"
                ng-model="tiempoActualizar"
                ng-options="p.id as p.nombre for p in listas.tiemposActualiza"
                ng-change="setTiempoActualizar()"></select>
        </div>

    
    </div>

</div>


        
        <!--#region FILTROS APLICADOS-->
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">

    <!-- ?? Lado izquierdo: filtros -->
    <div style="display: flex; flex-wrap: wrap;">
        <div ng-show="filtrosAplicados.tiempo.activo" style="padding-right: 8px;">
            <span class="badge">
                {{filtrosAplicados.tiempo.titulo}}
                <li ng-click="quitarFiltro('tiempo')" class="fa fa-fw fa-times" title="Quitar filtro"></li>
            </span>
        </div>

        <div ng-show="filtrosAplicados.cartera.activo" style="padding-right: 8px;">
            <span class="badge">
                {{filtrosAplicados.cartera.titulo}}
                <li ng-click="quitarFiltro('cartera')" class="fa fa-fw fa-times" title="Quitar filtro"></li>
            </span>
        </div>

        <div ng-show="filtrosAplicados.producto.activo" style="padding-right: 8px;">
            <span class="badge">
                {{filtrosAplicados.producto.titulo}}
                <li ng-click="quitarFiltro('producto')" class="fa fa-fw fa-times" title="Quitar filtro"></li>
            </span>
        </div>

        <div ng-show="cuantosAplicados>1" style="padding-right: 8px;">
            <span class="badge" ng-click="quitarFiltro('todo')">
                {{filtrosAplicados.todo.titulo}}
                <li class="fa fa-fw fa-times" title="Quitar filtro"></li>
            </span>
        </div>
    </div>

    <!-- ?? Lado derecho: botón -->
    <div>
        <button type="button" class="btn btn-primary" style="height: 30px; display:flex; align-items:center; gap:6px;"
        ng-click="mostrarModalGestiones()">
            <i class="fa fa-eye" style="opacity:0.9;"></i>
            Ver Datos
        </button>
    </div>

</div>
        
        <!--#endregion-->
        <!--#endregion-->
        <!--#region TITULO-->

        <!--#region seccion resultado general-->
     
        <div class="contenedor-seccion">
              
            <div layout="row">
            <span class="titulo-pantalla" style="margin-right: 15px;">
                {{titulo}}
            </span>
            
            </div>



            <!-- DASHBOARD KPI -->
            <div style="display: flex; flex-direction: column;  margin-top: 10px;">

                <!-- FILA SUPERIOR -->
                <div style="display: flex;  width: 100%;">

                    <!-- KPI 1: GAUGE -->
                    <div style="flex: 1; background: #fff;padding: 12px; border-right: 2px solid rgba(0,0,0,0.1);
                        border-bottom: 2px solid rgba(0,0,0,0.1); 
                        display: flex; flex-direction: column; justify-content: space-between; position: relative;">

                        <div ng-show="cargandoGraficos"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                            display: flex; justify-content: center; align-items: center; z-index: 10;
                            background: rgba(255,255,255,0.7);">
                            
                            <i class="fa fa-spinner fa-fw fa-spin fa-4x" style="color:#666"></i>
                        </div>

                        <div style="font-weight: bold; margin-bottom: 30px;text-align: center;font-size: 20px;
                         border-bottom: 2px solid rgba(0,0,0,0.1); height: 40px; 
                        display: flex; flex-direction: column; justify-content: space-between;">
                            KPI de Gestión de Base
                        </div>
                         
                        <div id="chartGauge" style="height:220px;width: 450px;"></div>

                        <div  style="margin-top: 10px; font-size: 18px;margin-left: 17%;">

                            <div>
                                <i class="fa fa-database" style="color:#2196F3; margin-right:6px;"></i>
                                Base Asignada: <b>{{ totales.gestion[0].total}}</b> Clientes
                            </div>

                            <div>
                                <i class="fa fa-check-circle" style="color:#4CAF50; margin-right:6px;"></i>
                                Clientes Gestionados: <b>{{ totales.gestion[1].total}}</b>
                            </div>

                            <div>
                                <i class="fa fa-times-circle" style="color:#F44336; margin-right:6px;"></i>
                                Clientes Sin Gestión: <b>{{ totales.gestion[2].total}}</b>
                            </div>

                        </div>
                    </div>

                    <!-- KPI 2: PIE -->
                    <div style="flex: 1; background: #fff;  padding: 12px;border-right: 2px solid rgba(0,0,0,0.1);
                        border-bottom: 2px solid rgba(0,0,0,0.1); 
                        display: flex; flex-direction: column; justify-content: space-between;position: relative;">
                        <div ng-show="cargandoGraficos"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                            display: flex; justify-content: center; align-items: center; z-index: 10;
                            background: rgba(255,255,255,0.7);">
                            
                            <i class="fa fa-spinner fa-fw fa-spin fa-4x" style="color:#666"></i>
                        </div>
                         
                        
                        <div style="font-weight: bold; margin-bottom: 10px;text-align: center;font-size: 20px;
                         border-bottom: 2px solid rgba(0,0,0,0.1); height: 40px; 
                        display: flex; flex-direction: column; justify-content: space-between;">
                            KPI de Contactabilidad
                        </div>
                        <div id="chartPie" style="height:250px;width: 450px;"></div>
                        <div style=" font-size: 18px; text-align: center;padding-bottom: 25px;">

                              <span style="font-weight: 600;">
                               {{ totales.gestion[3].porcentaje}}%
                               </span>  Contactabilidad

                        </div>
                    </div>

                    <!-- KPI 3: FUNNEL -->
                    <div style="flex: 1; background: #fff;padding: 12px; border-bottom: 2px solid rgba(0,0,0,0.1); 
                        display: flex; flex-direction: column; justify-content: space-between;position: relative;">
                        <div ng-show="cargandoGraficos"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                            display: flex; justify-content: center; align-items: center; z-index: 10;
                            background: rgba(255,255,255,0.7);">
                            
                            <i class="fa fa-spinner fa-fw fa-spin fa-4x" style="color:#666"></i>
                        </div>
                        
                        <div style="font-weight: bold; margin-bottom: 30px;text-align: center;font-size: 20px;
                         border-bottom: 2px solid rgba(0,0,0,0.1); height: 40px; 
                        display: flex; flex-direction: column; justify-content: space-between;">
                            KPI de Efectividad Comercial
                        </div>
                        
                        <div style="display: flex; align-items: center; justify-content: space-between;">

                        <div id="chartFunnel" style="height:250px;width: 450px"></div>

                        

                    </div>
                         <div id="punta" style="
                            width: 0;
                            height: 0;
                            margin: -58px auto 0;
                            border-left: 116px solid transparent;
                            border-right: 116px solid transparent;
                            border-top: 30px solid #66BB6A; margin-right: 24%"></div>
                        <div style="margin-top: 30px; display: flex; justify-content: space-evenly; font-size: 18px;">

                            <!-- Columna 1 -->
                            <div style="display: flex; flex-direction: column; gap: 5px;
                            border-right: 2px solid rgba(0,0,0,0.1);  
                                    display: flex; flex-direction: column; justify-content: space-between;padding-right: 12%;">
                                
                                <div style="display: flex; align-items: center; gap: 5px;">
                                    <span style="font-weight: 700;">
                                        {{ totales.gestion[5].porcentaje}}%
                                    </span>
                                    <span>Efectividad</span>
                                </div>

                                <div style="padding-left: 40px;">
                                    Contacto
                                </div>

                            </div>

                            <!-- Columna 2 -->
                            <div style="display: flex; flex-direction: column; gap: 5px;">
                                
                                <div style="display: flex; align-items: center; gap: 5px;">
                                    <span style="font-weight: 700;">
                                        {{ totales.gestion[4].porcentaje}}%
                                    </span>
                                    <span>Efectividad</span>
                                </div>

                                <div style="padding-left: 40px;">
                                    Comercial
                                </div>

                            </div>

                        </div>
                    </div>

        </div>

                <!-- FILA INFERIOR -->
                <div style="display: flex;">

                    <!-- BARRAS HORARIOS -->
                    <div style="flex: 2; display: flex; flex-direction: column; align-items: center;padding-top: 10px;">
                        <div style=" padding: 16px;  width: 45%; height: 340px; position: relative;">
                            <div ng-show="cargandoGraficos"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                                display: flex; justify-content: center; align-items: center; z-index: 10;
                                background: rgba(255,255,255,0.7);">
                                
                                <i class="fa fa-spinner fa-fw fa-spin fa-4x" style="color:#666"></i>
                            </div>
                            
                            <div style="font-weight: bold; text-align: center; font-size: 20px; margin-bottom: -35px; height: 34px;
                            border-bottom: 2px solid rgba(0,0,0,0.1); 
                            display: flex; flex-direction: column; justify-content: space-between;">
                                Contactabilidad por Horarios
                            </div>
                            
                            <div id="chartBarras" style="height:370px;"></div>
                            
                        </div>
                    </div>

                    <!-- INTENSIDAD -->
                    <div style="flex: 1; background: #fff; padding-top: 10px;display: flex; flex-direction: column; align-items: center;
                    border-left: 2px solid rgba(0,0,0,0.1);
                        display: flex; flex-direction: column; justify-content: space-between; position: relative;">
                        <div ng-show="cargandoGraficos"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                                display: flex; justify-content: center; align-items: center; z-index: 10;
                                background: rgba(255,255,255,0.7);">
                                
                                <i class="fa fa-spinner fa-fw fa-spin fa-4x" style="color:#666"></i>
                            </div>
                         
                         <div style="padding: 16px; 
                            height: 355px; display: flex; flex-direction: column;width: 84%;">

                            <!-- Título -->
                            <div style="font-weight: bold; text-align: center; font-size: 20px; padding-bottom: 8px;
                                        border-bottom: 2px solid rgba(0,0,0,0.1);">
                                Intensidad por Canales
                            </div>


                            <div style="flex: 1; display: flex; flex-direction: column; justify-content: space-between;">

                                    <!-- Bloque 1 -->
                                <div style="flex: 1; display: flex; align-items: center;
                                            border-bottom: 1px solid rgba(0,0,0,0.1); gap: 12px;">

                                    <!-- Ícono -->
                                    <div style="font-size: 40px; color:#4CAF50; display: flex; align-items: center;">
                                        <i class="fa fa-phone"></i>
                                    </div>

                                    <!-- Texto -->
                                    <div style="display: flex; flex-direction: column; justify-content: center;">
                                        <div style="font-weight: bold; font-size: 18px;">Call Center</div>
                                        <div style="font-size: 18px;">
                                             <b>{{ totales.intensidad[0].tooltip[0]}}</b> Intentos Promedio
                                        </div>
                                    </div>
                                </div>

                                <!-- Bloque 2 -->
                                <div style="flex: 1; display: flex; align-items: center;
                                            border-bottom: 1px solid rgba(0,0,0,0.1); gap: 12px;">

                                    <div style="font-size: 40px; color:#25D366; display: flex; align-items: center;">
                                        <i class="fa fa-whatsapp"></i>
                                    </div>

                                    <div style="display: flex; flex-direction: column; justify-content: center;">
                                        <div style="font-weight: bold; font-size: 18px;">WhatsApp</div>
                                        <div style="font-size: 18px;">
                                            <b>{{ totales.intensidad[0].tooltip[2]}}</b> Intentos Promedio
                                        </div>
                                    </div>
                                </div>

                                <!-- Bloque 3 -->
                                <div style="flex: 1; display: flex; align-items: center; gap: 12px;">

                                    <div style="font-size: 40px; color:#2196F3; display: flex; align-items: center;">
                                        <i class="fa fa-envelope"></i>
                                    </div>

                                    <div style="display: flex; flex-direction: column; justify-content: center;">
                                        <div style="font-weight: bold; font-size: 18px;">Correo</div>
                                        <div style="font-size: 18px;">
                                           <b>{{ totales.intensidad[0].tooltip[1]}}</b>  Intentos Promedio
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>     
 
        </div>
</div>

<modal-popup titulo="Gestiones Realizadas " evento="{{modalGraficos.evento}}" icono="fa fa-check-square-o fa-fw"
    width="1500" abrir="modalGraficos.activo" style="color: black;">

    <div layout="row" >

        <div ng-show="cargandoGraficos"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                            display: flex; justify-content: center; align-items: center; z-index: 10;
                            background: rgba(255,255,255,0.7);">
                            
                            <i class="fa fa-spinner fa-fw fa-spin fa-4x" style="color:#666"></i>
                        </div>

    <table  tabula="asignacionGestiones" tamanio-inicial="10" 
                           url="../canalesMasivos/cmDashboardGestionesVentasCtrl.php?act=listaAsignacionGestiones&filtroCartera={{filtroCartera}}&filtroProducto={{filtroProducto}}&filtroTiempo={{filtroTiempo}}&filtroDesde={{filtroDesde}}&filtroHasta={{filtroHasta}}">           
                    <tr>
                            <th width="5%" tabula-encabezado="cubAV_numFactura" titulo="Operación" ordenar filtrar></th>
                            <th width="30%" tabula-encabezado="cubAV_carteraNombre" titulo="Cartera" ordenar filtrar></th>
                            <th width="5%" tabula-encabezado="cubAV_gestionada" titulo="Gestionado" ordenar></th>
                            <th width="10%" tabula-encabezado="cubAV_tipificacion1" titulo="Contactabilidad" ordenar filtrar></th>
                            <th width="25%" tabula-encabezado="cubAV_tipificacion2" titulo="Gestión Realizada" ordenar filtrar></th>
                            <th width="15%" tabula-encabezado="cubAV_fechaGestion" titulo="Fecha y Hora Gestión" ordenar ></th>
                    </tr>

                        <tr ng-repeat="x in tabulas['asignacionGestiones'].filas track by $index" >
                                                        
                            <td class="p-1 m-0" style="vertical-align: middle; text-align: center;">{{ x.cubAV_numFactura }}</td>
                            <td class="p-1 m-0" style="vertical-align: middle; text-align: center;">{{ x.cubAV_carteraNombre }}</td>
                            <td class="p-1 m-0" style="vertical-align: middle; text-align: center;">{{ x.cubAV_gestionada }}</td>
                            <td class="p-1 m-0" style="vertical-align: middle; text-align: center;">{{ x.cubAV_tipificacion1 }}</td>
                            <td class="p-1 m-0" style="vertical-align: middle; text-align: center;">{{ x.cubAV_tipificacion2 }}</td>
                            <td class="p-1 m-0" style="vertical-align: middle; text-align: center;">{{  x.cubAV_fechaGestion ? (x.cubAV_fechaGestion * 1000 | date:'yyyy-MM-dd HH:mm:ss') : '' }}</td>

                           
            </tr>          
            <tr>
                 <td colspan="1" align="center">
                        
                    </td>
                <td colspan="4" align="center">                                         
                 <tabula-paginador dataset="tabulas['asignacionGestiones']" maxbotones="3"></tabula-paginador>
                </td>
                <td colspan="1" align="center">
                         <button type="button" class="btn btn-success" ng-click="descargarReporteExcel()">
                        <i class="fa fa-file-excel-o" ></i>
                        Exportar Excel
                    </button>
                </td>

            </tr>            
            </table>

    </div>

</modal-popup>

  


    

